## mako
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

  <!-- ФУТЕР / КОНТАКТИ -->
<div class="wrapper-footer">
  <div id="page_footer">
    <div class="container">
      <div class="col"><img src="/static/images/edera_logo_footer.png" alt="EdEra" class="footer_logo">
        <p>Український освітній проект, що створює повноцінні онлайн-курси та супроводжувальні матеріали широкого профілю. Наша мета — зробити освіту в країні доступною та якісною на зразок західних найкращих освітніх ініціатив.</p>
      </div>
      <div class="col col2">
        <p>З будь-яких питань стосовно проекту та співробітництва:</p>
        <p></p>
        <p></p>
        <ul>
          <li><a href="mailto:info@ed-era.com" title="">info@ed-era.com</a></li>
          <li><a href="tel:+380633806042" title="" class="phone">+38 063 380-60-42</a></li>
          <li><a href="https://www.google.com.ua/maps/place/Старокиївський+пров.,+3А,+Київ,+місто+Київ/@50.453069,30.470973,17z/data=!3m1!4b1!4m2!3m1!1s0x40d4ce8138d29cf1:0xdee1826309739e48" target="_blank">місто Київ, Старокиївський провулок, 1/3, офіс 2</a></li>
        </ul>
        <p>Ми працюємо 7 днів на тиждень. Завітати до нас можна в будь-який зручний для вас час, попередивши про свій візит телефоном.</p>
        <p></p>
      </div>
      <div class="col">
        <p>Слідкуйте за новинами проекту та приєднуйтеся до наших спільнот:</p>
        <ul class="socials">
          <li><a href="https://vk.com/ed_era" target="_blank" title="EdEra у Вконтакті" class="vk">Вконтакті</a></li>
          <li><a href="https://www.facebook.com/NewEdEra" target="_blank" title="EdEra у Facebook" class="fb">Facebook</a></li>
          <li><a href="https://twitter.com/info_edera" target="_blank" title="EdEra в Twitter" class="tw">Twitter</a></li>
        </ul>
        <p>Наш канал на Youtube</p>
        <ul class="socials">
          <li><a href="https://www.youtube.com/channel/UCBJx3fpN2SY9W9zY3e2R1RA" title="EdEra у Youtube" target="_blank">Youtube</a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="footer_menu_links">
          <li><a href="http://ed-era.com/">Головна</a></li>
          <li><a href="http://ed-era.com/about/">Про проект</a></li>
          <li><a href="http://ed-era.com/courses/">Курси</a></li>
          <li class="login"><a href="https://study.ed-era.com/login">Увійти</a></li>
          <li><a href="https://study.ed-era.com/register">Зареєструватися</a></li>
        </ul>
        <p class="copy">© <span class="year">2014–2015</span> EdEra,<br>            Усі права захищено.</p>
      </div>
    </div>
  </div>
</div>